* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mohave', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
}

.clear {
    clear: both;
}

/*********/

.center {
    padding: 25px 21px 25px 21px;
}

.container {
    width: 50vw;
    background-color: #121826;
    border-radius: 20px 0 0 20px;
    float: left;
}

.container #image {
    width: 324px;
    height: 67px;

    margin: 119px 0 0 96px;
}

.container #login,
.container #register {
    margin: 66px 0 0 96px;
}

.container #login h3,
.container #register h3 {
    font-size: 27px;
    color: #B1E457;
}

.container #login p,
.container #register p {
    font-size: 19px;
    color: #FFFFFF;
}

.container .contact {
    display: flex;
    flex-direction: row;
    
    margin: 66px 0 51px 96px;
}

.container .contact #by {
    width: 216px;
    height: 36px;

    background: #212936;
    border-radius: 40px;    
}

.container .contact #by h4 {
    text-align: center;
    margin-top: 7px;
    color: #B1E457;
    font-size: 16px;
}

.container .contact #message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 36px;
    margin-left: 60px;

    background: #B1E457;
    border-radius: 40px;    
}

.container .contact #message img {
    width: 24px;
    height: 24px;  
}

.container .contact #message h4 {
    text-align: center;
    padding-left: 10px;
    font-size: 16px; 
}